---
layout: page
title: Amego &mdash; How we help
slug: projects
---
<div id="featured-project">
  <div class="row">
    <div class="project-title">
      <a href="/project/">
        <h1 class="title">Uncovr</h1>
        <p class="subleader">Featured Work</p>
      </a>
    </div>   
  </div>
</div>

<section id="dribbble">
  <div class="row">
    <h2>Featured</h2>
     {% dribbble_set %}
  </div>   
</section>
<section id="clients" class="feature sandy">

  <div class="row">
    <h2 class="title">Clients we've worked with</h2>
    <p class="subleader">No one can guarantee the success of your startup, but your chance of success is much greater if you have an all-star team with the right resources. That's where we come in.</p>
  </div>

  <div class="row">
    <ul class="no-bullet" style="margin-top:30px;">
      <li class="large-3 columns"><img src="../img/facebook.png" data-interchange="[img/facebook@2x.png, (retina)]" /></li>
      <li class="large-3 columns"><img style="margin-top:18px" src="../img/philips.png" data-interchange="[img/philips@2x.png, (retina)]"/></li>
      <li class="large-3 columns"><img data-interchange="[img/trustiful@2x.png, (retina)]" src="../img/trustiful.png" /></li>
      <li class="large-3 columns"><img style="margin-top:18px"  src="../img/sony.png" data-interchange="[img/sony@2x.png, (retina)]" /></li>
    </ul>
  </div>

</section>
<!-- <section id="projects">
  <div class="row">
    <h2>Case Studies</h2>
    <ul id="projects" class="no-bullet">
      {% for project in page.projects %}
        <li class="project large-4 columns">
          <a href="/portfolio/{{ project[0] }}">
            {% if project[1].image %}
              <img src="{{ project[1].featured-image.url }}" title="{{ project[1].image.title }}" alt="{{ project[1].image.alt }}" />
            {% endif %}

            <p>{{ project[1].short }}</p>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</section> -->