---
layout: page
title: Sample Portfolio Layout
slug: projects
---
<div id="featured-project">
  <div class="row">
    <h1>Our Portfolio</h1>   
  </div>
</div>

<section id="dribbble">
  <div class="row">
     {% dribbble_set %}
  </div>   
</section>

<section id="projects">
  <div class="row">
    <ul id="projects" class="no-bullet">
      {% for project in page.projects %}
        <li class="project large-4 columns">
          <a href="/portfolio/{{ project[0] }}">
            {% if project[1].image %}
              <img src="{{ project[1].featured-image.url }}" title="{{ project[1].image.title }}" alt="{{ project[1].image.alt }}" />
            {% endif %}

            <p>{{ project[1].short }}</p>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>