    <header>
    <div class="row">
      <section class="title-area">
        <h1><a href="/"><img data-interchange="[{{site.url}}/img/logo@2x.png, (retina)]" width="123" height="36" src="{{site.url}}/img/logo.png" alt="{{ site.name }}"></a></h1>
      </section>

      <ul class="top-menu right">
        <li{% if page.slug == "projects" %} class="active"{% endif %}><a href="{{site.url}}/projects">Case Studies</a></li>
        <li class="contact"><a href="#" class="button tiny capitalized bordered quote"  data-reveal-id="contact-form">Let's Talk</a></li>
      </ul>
    </div>
    </header>